<script type="module" src="./js/404.js"></script>

<nav class="navbar navbar-expand-lg navbar-dark nav-bar">
    <a class="navbar-brand" href="/">
      <img src="/img/regsol.png" width="180" height="65" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"></ul>
    </div>
    </div>
</nav>

{{#if idSol}}
<div class="row error404">
  <label><h5><b>Muy Bien! </b>la solicitud <b>Nro.{{idSol}}</b> fue actualizada correctamente, puede cerrar esta venta.</h5></label>
  <br>
</div>
{{else}}
<div class="error404">
  <label><h5><b>Lo sentimos! </b>no se puede modificar una solicitud que se encuentra <b>cerrada.</b></h5></label>
  <br>
</div>
{{/if}}
<a>
<br>
<br>
  <!-- Copyright -->
<div class="text-black text-center" style="background-color: #fff;">
    <img src="/img/logofooter.png" width="80" height="67" class="img-fluid" alt="Responsive image" />
  <!-- Copyright -->
</a>

<!--END-FORM-->
<footer class="navbar-fixed-bottom navbar-expand-lg nav-bar footer">
    <!-- Copyright -->
    <div class="text-white p-3" style="background-color: #475867;font-size: 14px;">
        Caimi ® Regsol 2022
    </div>
</footer>